@using DiscontMD.BusinessLogic
@model DiscontMD.WebUI.Models.ViewCardResult
@{
    ViewBag.Title = "Информация по карте";
}

<div class="my-3 p-3 bg-white rounded box-shadow">
@if (Model.Card != null)
{
    
        string url = Request.UrlReferrer?.AbsoluteUri ?? "/Backoffice";
        if (url.Contains("ViewCard")) { url = "/Backoffice"; }
    <h3><a href="@url"><i class="fa fa-angle-double-left"></i></a> Карта №@Html.Raw(Model.Card.FormattedNum)</h3>
    <div class="row">
        <div class="col-md-3  mb-4">
            <h5>Информация</h5>
            <div class="mb-1 lead">Текущая скидка <a class="font-weight-bold text-success">@Registry.Current.Services.Store.DiscountFor(Model.Card)%</a></div>
            <div class="mb-1 lead">Накопленно <a class="font-weight-bold">@Model.Card.Data.Amount руб.</a></div>
            <div class="mb-1 lead">Дата активации <a class="font-weight-bold">@Model.Card.Data.ActivationDate.ToShortDateString()</a></div>
            

        </div>

        <div class="col-md-3 offset-md-1  mb-4">
            @using (Html.BeginForm("AddTransaction", "Backoffice"))
            {
                <input type="hidden" name="cardNum" value="@Model.Card.Num"/>
                <h5>Платёж по карте</h5>
                <div style="margin-bottom: 20px;">
                    Сумма
                    <div class="input-group mb-3">
                    <input class="form-control" type="number"  required="true"  min="1" name="amount" /><div class="input-group-append">
    <span class="input-group-text">.00р</span>
</div>
                </div>
            </div>
                <div style="margin-bottom: 20px;">
                    Коментарий<br/>
                    <input class="form-control" type="text" name="comment"/>
                </div>
                <div style="margin-bottom: 20px;">
                    <input type="submit"  class="btn btn-block btn-outline-success" value="Добавить платёж"/>
                </div>
            }
        </div>

        <div class="col-md-3 offset-md-1  mb-4">
            @using (Html.BeginForm("UpdateCardDetails", "Backoffice"))
            {
                <input type="hidden" name="id" value="@Model.Card.Id" />
                <h5>Личные данные</h5>
                <div style="margin-bottom: 20px;">
                    Имя владельца<br/>
                    <input class="form-control" type="text" name="name" value="@Model.Card.Data.ContactName"/>
                </div>
                <div style="margin-bottom: 20px;">
                    Email владельца<br/>
                    <input class="form-control" type="text" name="email" value="@Model.Card.Data.ContactAddress"/>
                </div>
                <div style="margin-bottom: 20px;">
                    Заметки<br/>
                    <textarea class="form-control" name="comment" rows="4" type="text">@Model.Card.Data.Comments</textarea>
                </div>
                <div style="margin-bottom: 20px;">
                    <input type="submit" class="btn btn-block btn-outline-secondary" value="Сохранить изменения"/>
                </div>
            }
        </div>
    </div>
    if (Model.Card.Data.Items.Count > 0)
    {
        <div class="row">
            <div class="col-md-11">

                История платежей
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Коментарий</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var i = Model.Card.Data.Items.Count; }
                        @foreach (var row in Model.Card.Data.Items)
                        {
                            <tr>
                                <th scope="row">@(i--)</th>
                                <td>@row.Date.ToShortDateString() @row.Date.ToShortTimeString()</td>
                                <td>@row.Amount</td>
                                <td>@row.Comment</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
       </div>
    }
}
else
{
        using (Html.BeginForm("ViewCard", "Backoffice",FormMethod.Get))
        {
            <div class="col-md-4">
                <h5 class="text-danger">Карта №@Request.QueryString["cardNum"] @Model.Error</h5>
                <div style="margin-bottom: 20px;">
                    Искать по другому номеру карты<br />
                    <input class="form-control form-control-lg" type="number" maxlength="6" max="999999" value="@Request.QueryString["cardNum"]" autofocus placeholder="000 000" name="cardNum" />
                </div>
                <div style="margin-bottom: 20px;">
                    <input type="submit" class="btn btn-block btn-outline-success" value="Найти" />
                </div>
            </div>
        }
}
                
</div>
